body {
  background-color: rgb(204, 157, 157);
}

.hidden {
  display: none;
}

.trash-active {
  display: block;
}

.input-group {
  width: 40%;
}

.clear-button-container {
  display: flex;
  justify-content: center;
}

.clear-button-container:hover {
  filter: brightness(1.25);
}

.clear-button {
  width: 40%;
}

#list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-outline-secondary {
  background-color: rgb(204, 230, 253);
}

.edit-button {
  cursor: pointer;
}

.edit-button:active {
  cursor: all-scroll;
}

.trash-icon {
  cursor: pointer;
  font-size: 30px;
}

.checked {
  background-color: bisque;
}

.line-through {
  text-decoration: line-through;
}

.form-control:focus {
  background-color: bisque;
}
