body {
  background-color: rgb(204, 157, 157);
}

.input-group {
  width: 40%;
}

.clear-button {
  display: flex;
  justify-content: center;
  width: 40%;
}

#list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-outline-secondary {
  background-color: rgb(204, 230, 253);
}
